apiVersion: v1
kind: Secret
metadata:
  name: kafka
data:
  bootstrap_servers: <the value>
  security_protocol: <the value>
  sasl_mechanism: <the value>
  sasl_username: <the value>
  sasl_password: <the value>